@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #24292e;
  color: #fff;
  font-family: 'Noto Sans Mono', monospace;
  overflow: hidden;
}

#container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  #container {
    width: 75%;
    height: 75%;
  }
}

@media screen and (min-width: 1024) {
  #container {
    width: 50%;
    height: 75%;
  }
}

#next {
  width: 100px;
  height: 33px;
  border: #f08c35 3px solid;
  background-color: #faa356;
  outline: none;
  cursor: pointer;
  margin-bottom: 100px;
}

#image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin-bottom: 100px;
  flex-grow: 3;
}

a {
  text-align: center;
  text-decoration: none;
  color: #faa356;
}

* {
  font-family: 'Noto Sans Mono', monospace;
}